This notebook is primarily for the Coursera Applied Data Science Capstone Project.

In [69]:
import pandas as pd
import numpy as np

print("Hello Capstone Project Course")

Hello Capstone Project Course

This Capstone project is to analyze and predict new data based on a file that shows the elements involved in car accidents. This information could be used by car manufacturers, police, and normal people that are driving. For car manufacturers, they could use this data to improve their cars to better perform in these situations and keep the passengers safer. The police and other people like first responders could use this information to know where the most accidents happen, and when to be on higher alert. Normal people could use this information for their own safety and benefit. They could see the data and the conditions of the road they are going to be driving on and they could decide whether it is a good idea or not to take that route.

This dataset has information on car accidents in Seattle and the severity of them. This dataset also includes, where the car accidents occurred, what the road conditions were, the time of day, and other elements that could have caused the accident. To analyze and predict new data, I will use regression plots to show the relationship between the different elements. I can use maps of Seattle to see if there are general areas where more accidents occur. I can also use functions to split the model into training and testing sets to see how well it performs and how well it will predict new data.

In [70]:
collision = pd.read_csv("Data.csv", skiprows = 1, header = None)

collision.columns = collision.columns.astype(str)

In [71]:
collision.drop(['3', '4', '5', '6', '9', '11', '12', '21', '25', '26', '30', '32', '33', '35', '36'], axis = 1, inplace = True)
collision

,0,1,2,7,8,10,13,14,15,16,...,20,22,23,24,27,28,29,31,34,37
0,2,-122.329057,47.578768,Matched,Block,4TH AVE S BETWEEN S LANDER ST AND S FOREST ST,2,Injury Collision,Other,1,...,2016/05/18 00:00:00+00,Mid-Block (not related to intersection),26,MOTOR VEHICLE STRUCK OBJECT IN ROAD,Clear,Dry,Daylight,NaN,Vehicle overturned,N
1,2,-122.344552,47.693098,Matched,Block,AURORA AVE N BETWEEN N 88TH N ST AND N 89TH ST,2,Injury Collision,Rear Ended,3,...,2016/03/07 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Clear,Dry,Daylight,NaN,From same direction - both going straight - bo...,N
2,2,-122.360959,47.571594,Matched,Block,WEST SEATTLE BR WB BETWEEN W SEATTLE BR WB OFF...,2,Injury Collision,Other,2,...,2016/06/27 00:00:00+00,Mid-Block (not related to intersection),26,MOTOR VEHICLE STRUCK OBJECT IN ROAD,Clear,Dry,Dusk,NaN,Fixed object,N
3,1,-122.335827,47.612633,Matched,Block,6TH AVE BETWEEN PINE ST AND OLIVE WAY,1,Property Damage Only Collision,Parked Car,2,...,2016/02/26 00:00:00+00,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,NaN,One car entering parked position,N
4,2,-122.283478,47.541572,Matched,Block,M L KING JR WR WAY S BETWEEN S HOLLY ST AND S ...,2,Injury Collision,Rear Ended,3,...,2016/05/23 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Clear,Dry,Daylight,NaN,From same direction - both going straight - on...,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40381,2,-122.290826,47.565408,Matched,Block,34TH AVE S BETWEEN S DAKOTA ST AND S GENESEE ST,2,Injury Collision,Head On,3,...,2018/11/12 00:00:00+00,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,NaN,From opposite direction - both moving - head-on,N
40382,1,-122.344526,47.690924,Matched,Block,AURORA AVE N BETWEEN N 85TH ST AND N 86TH ST,1,Property Damage Only Collision,Rear Ended,2,...,2018/12/18 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Raining,Wet,Daylight,NaN,From same direction - both going straight - bo...,N
40383,2,-122.306689,47.683047,Matched,Intersection,20TH AVE NE AND NE 75TH ST,2,Injury Collision,Left Turn,3,...,2019/01/19 00:00:00+00,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,NaN,From opposite direction - one left turn - one ...,N
40384,2,-122.355317,47.678734,Matched,Intersection,GREENWOOD AVE N AND N 68TH ST,2,Injury Collision,Cycles,2,...,2019/01/15 00:00:00+00,At Intersection (intersection related),51,PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT...,Clear,Dry,Dusk,NaN,Vehicle Strikes Pedalcyclist,N
40385,1,-122.289360,47.611017,Matched,Block,34TH AVE BETWEEN E MARION ST AND E SPRING ST,1,Property Damage Only Collision,Rear Ended,2,...,2018/11/30 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Clear,Wet,Daylight,NaN,From same direction - both going straight - on...,N

In [72]:
collision.rename(columns = {'0':'Severity', '1':'X', '2': 'Y', '7':'Status', '8': 'ADDRTYPE', '10':'Location', '13':'SeverityCode', '14':'SeverityDescript', '15':'CollisionType', '16':'PersonCount', '17':'PedestrianCount', '18':'PedCylCount', '19':'VehicleCount', '20':'Date', '22':'JunctionType', '23':'SDOT_COLCODE', '24':'SDOT_COLDESC', '27':'Weather', '28':'RoadConditions', '29':'LightConditions', '31':'SDOTCOLNUM', '34':'STCOLDESC', '37':'HitParkedCar'}, inplace = True)
collision

,Severity,X,Y,Status,ADDRTYPE,Location,SeverityCode,SeverityDescript,CollisionType,PersonCount,...,Date,JunctionType,SDOT_COLCODE,SDOT_COLDESC,Weather,RoadConditions,LightConditions,SDOTCOLNUM,STCOLDESC,HitParkedCar
0,2,-122.329057,47.578768,Matched,Block,4TH AVE S BETWEEN S LANDER ST AND S FOREST ST,2,Injury Collision,Other,1,...,2016/05/18 00:00:00+00,Mid-Block (not related to intersection),26,MOTOR VEHICLE STRUCK OBJECT IN ROAD,Clear,Dry,Daylight,NaN,Vehicle overturned,N
1,2,-122.344552,47.693098,Matched,Block,AURORA AVE N BETWEEN N 88TH N ST AND N 89TH ST,2,Injury Collision,Rear Ended,3,...,2016/03/07 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Clear,Dry,Daylight,NaN,From same direction - both going straight - bo...,N
2,2,-122.360959,47.571594,Matched,Block,WEST SEATTLE BR WB BETWEEN W SEATTLE BR WB OFF...,2,Injury Collision,Other,2,...,2016/06/27 00:00:00+00,Mid-Block (not related to intersection),26,MOTOR VEHICLE STRUCK OBJECT IN ROAD,Clear,Dry,Dusk,NaN,Fixed object,N
3,1,-122.335827,47.612633,Matched,Block,6TH AVE BETWEEN PINE ST AND OLIVE WAY,1,Property Damage Only Collision,Parked Car,2,...,2016/02/26 00:00:00+00,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,NaN,One car entering parked position,N
4,2,-122.283478,47.541572,Matched,Block,M L KING JR WR WAY S BETWEEN S HOLLY ST AND S ...,2,Injury Collision,Rear Ended,3,...,2016/05/23 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Clear,Dry,Daylight,NaN,From same direction - both going straight - on...,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40381,2,-122.290826,47.565408,Matched,Block,34TH AVE S BETWEEN S DAKOTA ST AND S GENESEE ST,2,Injury Collision,Head On,3,...,2018/11/12 00:00:00+00,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,NaN,From opposite direction - both moving - head-on,N
40382,1,-122.344526,47.690924,Matched,Block,AURORA AVE N BETWEEN N 85TH ST AND N 86TH ST,1,Property Damage Only Collision,Rear Ended,2,...,2018/12/18 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Raining,Wet,Daylight,NaN,From same direction - both going straight - bo...,N
40383,2,-122.306689,47.683047,Matched,Intersection,20TH AVE NE AND NE 75TH ST,2,Injury Collision,Left Turn,3,...,2019/01/19 00:00:00+00,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,NaN,From opposite direction - one left turn - one ...,N
40384,2,-122.355317,47.678734,Matched,Intersection,GREENWOOD AVE N AND N 68TH ST,2,Injury Collision,Cycles,2,...,2019/01/15 00:00:00+00,At Intersection (intersection related),51,PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT...,Clear,Dry,Dusk,NaN,Vehicle Strikes Pedalcyclist,N
40385,1,-122.289360,47.611017,Matched,Block,34TH AVE BETWEEN E MARION ST AND E SPRING ST,1,Property Damage Only Collision,Rear Ended,2,...,2018/11/30 00:00:00+00,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Clear,Wet,Daylight,NaN,From same direction - both going straight - on...,N

In [73]:
df = collision.loc[:, ['Severity','LightConditions']]
df.head()

   Severity LightConditions
0         2        Daylight
1         2        Daylight
2         2            Dusk
3         1        Daylight
4         2        Daylight

In [74]:
# Check the correlation between the severity and the light conditions
df_time = df.groupby(['Severity'])['LightConditions'].value_counts().to_frame()
df_time

                                   LightConditions
Severity LightConditions
1        Daylight                            15940
         Dark - Street Lights On              6458
         Unknown                               950
         Dusk                                  726
         Dawn                                  398
         Dark - No Street Lights               276
         Dark - Street Lights Off              159
         Other                                  49
         Dark - Unknown Lighting                 6
2        Daylight                             8428
         Dark - Street Lights On              3056
         Dusk                                  448
         Dawn                                  202
         Dark - No Street Lights                90
         Dark - Street Lights Off               66
         Unknown                                43
         Other                                  19
         Dark - Unknown Lighting                 4

In [75]:
df1 = collision.loc[:, ['SeverityDescript', 'CollisionType']]
df1.head()

                 SeverityDescript CollisionType
0                Injury Collision         Other
1                Injury Collision    Rear Ended
2                Injury Collision         Other
3  Property Damage Only Collision    Parked Car
4                Injury Collision    Rear Ended

In [76]:
# Comparing the severity result to the event
df_crash = df1.groupby(['SeverityDescript'])['CollisionType'].value_counts().to_frame()
df_crash

                                              CollisionType
SeverityDescript               CollisionType
Injury Collision               Angles                  3090
                               Rear Ended              2846
                               Pedestrian              1460
                               Left Turn               1181
                               Cycles                  1179
                               Other                   1032
                               Sideswipe                627
                               Parked Car               614
                               Head On                  197
                               Right Turn               139
Property Damage Only Collision Parked Car              6818
                               Angles                  4756
                               Rear Ended              4004
                               Sideswipe               3521
                               Other                   3183
                               Left Turn               1649
                               Right Turn               500
                               Head On                  255
                               Pedestrian               199
                               Cycles                   162

In [77]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.patches as patches
import matplotlib.pylab as pplt
from sklearn.linear_model import LinearRegression
import seaborn as sns
%matplotlib inline

In [78]:
code = collision.loc[:, ['SDOT_COLCODE']]
code.head()

   SDOT_COLCODE
0            26
1            14
2            26
3            11
4            14

In [79]:
# Checking which type of accidents were the most common
code['Total'] = code.groupby(by='SDOT_COLCODE')['SDOT_COLCODE'].transform('count')
code.head()

   SDOT_COLCODE  Total
0            26   1668
1            14  11917
2            26   1668
3            11  18956
4            14  11917

In [80]:
code = code.sort_values(['Total'])
code.head()

       SDOT_COLCODE  Total
28877            32      1
15613            61      1
12250            69      3
1613             69      3
27060            33      3

In [81]:
code = code.drop_duplicates()

In [82]:
code

       SDOT_COLCODE  Total
28877            32      1
15613            61      1
12250            69      3
27060            33      3
12643            22      4
4302             66      5
24387            55      5
23717            31      7
20075            23      7
350              34      8
10859            48     14
15667            56     19
1298             64     26
37378            54     29
23087            21     31
32209            27     36
31621            25     40
13396            29     60
32502            12    134
2099             15    166
1074             51    286
34334            13    566
25826            16    797
10532            18    949
29628            28   1279
31844            26   1668
7522             24   1677
9963              0   1692
19895            14  11917
31903            11  18956

In [83]:
code = code.set_index('SDOT_COLCODE')
code

              Total
SDOT_COLCODE
32                1
61                1
69                3
33                3
22                4
66                5
55                5
31                7
23                7
34                8
48               14
56               19
64               26
54               29
21               31
27               36
25               40
29               60
12              134
15              166
51              286
13              566
16              797
18              949
28             1279
26             1668
24             1677
0              1692
14            11917
11            18956

After the conducting the tests, I have made three sets of data showing different things. I have made a dataset that shows the correlation between the number of accidents in different light conditions, and the severity. The second dataset shows the correlation between the severity description of the accident and the type of collision. The last dataset shows the different types of accidents and the number of collisions falling under that category.

First, we will take a look at the dataset comparing light conditions and severity.

In [84]:
df_time

                                   LightConditions
Severity LightConditions
1        Daylight                            15940
         Dark - Street Lights On              6458
         Unknown                               950
         Dusk                                  726
         Dawn                                  398
         Dark - No Street Lights               276
         Dark - Street Lights Off              159
         Other                                  49
         Dark - Unknown Lighting                 6
2        Daylight                             8428
         Dark - Street Lights On              3056
         Dusk                                  448
         Dawn                                  202
         Dark - No Street Lights                90
         Dark - Street Lights Off               66
         Unknown                                43
         Other                                  19
         Dark - Unknown Lighting                 4

As you can see, most of the accidents, whether it was severity 1 or 2 happened in broad daylight. Of these accidents, most of them were severity level 1 which is minor damage or injury. What is surprising about this is that when it was dark, there were more much more accidents when street lights were on rather than off or not there.

Next, we will look at the second dataset which compares the collision type to the severity descrption.

In [85]:
df_crash

                                              CollisionType
SeverityDescript               CollisionType
Injury Collision               Angles                  3090
                               Rear Ended              2846
                               Pedestrian              1460
                               Left Turn               1181
                               Cycles                  1179
                               Other                   1032
                               Sideswipe                627
                               Parked Car               614
                               Head On                  197
                               Right Turn               139
Property Damage Only Collision Parked Car              6818
                               Angles                  4756
                               Rear Ended              4004
                               Sideswipe               3521
                               Other                   3183
                               Left Turn               1649
                               Right Turn               500
                               Head On                  255
                               Pedestrian               199
                               Cycles                   162

As you can see, most of the collisions resulted in only property damage. What surprised me is how many collisions involved a parked car even if it was only property damage. I also like to see how much more the damage in general is on a left turn rather than a right. I guess crossing lanes really does result in more accidents. A follow up question I would add to this is if we did a test in a country like England or Singapore where they drive on the left, would the results be the same but flipped?

Our last dataset, shows the codes for different types of accidents and how many of those accidents there were.

In [86]:
code

              Total
SDOT_COLCODE
32                1
61                1
69                3
33                3
22                4
66                5
55                5
31                7
23                7
34                8
48               14
56               19
64               26
54               29
21               31
27               36
25               40
29               60
12              134
15              166
51              286
13              566
16              797
18              949
28             1279
26             1668
24             1677
0              1692
14            11917
11            18956

From this dataset, 32 and 61 have only 1 accident. 32 means One Parked - One Moving. 61 means Vehicle Struck By State Road or Construction Machinery. 32 only having 1 surprises me a bit. 61 does not surprise me much. On the other side of the spectrum, 11 has almost 19000 incidents. This surprises me a bit because 11 is: From Same Direction - Both Going Straight - Both Moving - Sideswipe.

After analyzing this data, I have observed that accidents tend to be in normal conditions, so I'm going to say what everyone else already has been saying and that is to keep your eyes on the road and stay focused while driving. Don't start daydreaming or doing other things while driving. From what I saw in the third dataset, the most collisions happen at intersections when someone may not me paying attention and run a red light which results in someone getting t-boned.

All in all, this was a small dataset over the years of a medium - large size city in the United States. There are so many other countries and reports that will actually determine the best analysis for collisions across the world. After this dataset, I have learned how dangerous driving can be so I will definitely keep that in mind. Especially since I will be able to drive soon. Anyway, I enjoyed going through this and analyzing the different data. If I were to do it again, I would get myself more comfortable with Folium. I could create a map of seattle, and pinpoint the different locations with the most collisions